<section class="base-info">
	<div class="container">
		<div class="base-info__left">
			<h1 class="base-info__title">
				A full-stack PHP framework delivered as a C-extension
			</h1>

			<div class="base-info-descr">
				<div class="base-info-descr__first">
					Its innovative architecture makes Phalcon the fastest PHP framework ever built!
				</div>

				<hr class="base-info-descr__devider">

				<div class="base-info-descr__second">
					Developers do not need to know the C language to use Phalcon. Its interface is exposed as PHP classes under the Phalcon namespace, ready to be used.
				</div>
			</div>

			<div class="base-info__buttons">
				<a href="#" class="green-button">Get Phalcon</a>
				<a href="#" class="green-button">Support Us</a>
			</div>
		</div>

		<div class="base-info__right">
			<div class="base-info-features">
				<div class="base-info-features__list-wrap">
					<div class="base-info-features__title">Feautures</div>
					<ul class="base-info-features__list">
						<li>Low memory consumption and CPU</li>
						<li>ORM</li>
						<li>PHQL</li>
						<li>ODM for MongoD</li>
						<li>Transactions</li>
						<li>Cache</li>
						<li>Views & frontend</li>
						<li>Template Engines</li>
						<li>Template Engine (Volt)</li>
						<li>i18n</li>
						<li>Forms Builder</li>
						<li>Flash messages</li>
					</ul>
				</div>

				<div class="base-info-features__img">
					<img src="https://assets.phalcon.io/phalcon/images/features.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>