<section class="contributors">
	<div class="contributors__top">
		<div>
			<div class="contibutors__title">
				Phalcon contributors
			</div>

			<div class="contibutors__descr">
				Phalcon is improved everyday by our amazing community
			</div>
		</div>

		<a href="#" class="green-button-light">
			Become Contributer
		</a>
	</div>

	<div class="contributors__list-wrap">
		<div class="contributors__list">
			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/92e368567a730c54882aee88febca0669e5b1812/146cd/assets/images/contributors/niden.jpg" alt="">
			</a>

			<a href="#" class="contributors__list-item">
				<img src="https://d33wubrfki0l68.cloudfront.net/71b6b986ff20d246492f27f2e632f26cc3023ade/bb122/assets/images/contributors/asokal.jpg" alt="">
			</a>
		</div>
	</div>

	<div class="contributors__mobile">
		<a href="#" class="black-button">All Contributers</a>

		<a href="#" class="black-button">Contribute</a>
	</div>
</section>