<section class="join">
	<h2 class="join__title">
		Come join our vibrant developer community!
	</h2>
	<div class="join__descr">
		Community contributions in Extensions, Plugins, Adapters, VM, examples,source code... and more
	</div>

	<div class="join__buttons">
		<a href="#" class="black-button">
			Discord
		</a>

		<a href="#" class="black-button">
			Forum
		</a>

		<a href="#" class="black-button">
			GitHub
		</a>

		<a href="#" class="black-button">
			Stack Overflow
		</a>
	</div>
</section>